{% extends "base.html" %}

{% block content %}
  <h1 class="d-flex justify-content-between align-items-center">
    Tags
    <a href="{% url "todo_app:tag-create" %}" class="btn btn-primary link-to-page">
      Add
    </a>
  </h1>
  {% if tag_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td>
            {{ tag }}
          </td>
          <td>
            <a href="{% url "todo_app:tag-update" tag.pk %}" class="btn btn-secondary">Update</a>
          </td>
          <td>
            <a href="{% url "todo_app:tag-delete" tag.pk %}" class="btn btn-secondary">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tags.</p>
  {% endif %}
{% endblock %}
