{% extends "base.html" %}

{% block content %}
  <h1 class="d-flex justify-content-between align-items-center">
    TODO list
    <a href="{% url "todo_app:task-create" %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  <br>
  <ul style="list-style: none;" class="page_list">
    {% for task in task_list %}
      <h5 class="d-flex justify-content-between align-items-center">
        <div>
          {{ task }}
          {% if task.is_completed %}
            <span style="color: darkgreen">Done</span>
          {% else %}
            <span style="color: red">Not done</span>
          {% endif %}
        </div>
        {% if task.is_completed %}
          <form action="{% url "todo_app:task-toggle" task.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Undo" class="btn btn-secondary link-to-page">
          </form>
        {% else %}
          <form action="{% url "todo_app:task-toggle" task.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Complete" class="btn btn-success link-to-page">
          </form>
        {% endif %}
      </h5>
      <p>Created: {{ task.created_at }} {% if task.deadline %}<span style="color: maroon">Deadline: {{ task.deadline }}</span>{% endif %}</p>
      <p style="color: grey; font-size: 17px">
        Tags:
          {% for tag in task.tags.all %}
            <span>{{ tag }}</span>
          {% empty %}
            <span>No tags.</span>
          {% endfor %}
        <a href="{% url "todo_app:task-update" task.pk %}" style="font-weight: bold">Update</a>
        <a href="{% url "todo_app:task-delete" task.pk %}" style="font-weight: bold">Delete</a>
      </p>
      <hr>
    {% empty %}
      <p>There are no tasks.</p>
    {% endfor %}
  </ul>
{% endblock %}
